body{
    background-color: rebeccapurple;
}
.big-container {
    background-color: black;
    border-radius: 20px;
    height: 100%;
    padding: 20px;
    margin: 50px;
    margin-top: 150px;
}
.row {
    margin-top: 150px;
    background-color: #555;
    margin: 40px;
    border-radius: 20px;
}
.col {
    border: 1px solid white;
    color: white;
    padding: 50px;
    text-align: center;
    
    border-radius: 20px;
    background-color: #fff;
    border: 10px;
    
}
.my-container2{
justify-self: center ;
align-self: center  ;
background-color: #262525  ;
border-radius: 50px  ;
position:relative  ;
transition:0.4s ease  ;
margin:50%  ;
padding:0  ;
width: 60px  ;
height: 60px  ;
box-sizing: border-box;
}

.my-container2.active {
height: 420px  ;
border-radius: 25px  ;
-webkit-border-radius: 25px  ;
-moz-border-radius: 25px  ;
-ms-border-radius: 25px;
-o-border-radius: 25px  ;
}
.my-toggleBox{
position: relative;
display: block;
height: 70px;
width: 70px;
border-radius: 50px;
}
.my-icon{
position:absolute;
height: 4px;
width: 35px;
top: 45%;
left: 45%;
right: 50%;
transform: translate(-50%, -50%);
background-color: #fff;
border-radius: 50px;
}
.my-icon::before, .my-icon::after{
position:absolute;
content: '';
height: 4px;
width: 35px;
left: 50%;
transform: translate(-50%,-50%);
background-color: #fff;
border-radius: 50px;
transition: 0.3s;
}
.my-icon::before{
top: 12px;
}
.my-icon::after{
bottom: 8px;
}
.my-toggleBox.active .my-icon{
width: 0;
}
.my-toggleBox.active .my-icon::before{
width: 40px;
transform-origin: right;
transform: translate(-25px,4px) rotate(45deg);
}
.my-toggleBox.active .my-icon::after{
width: 40px;
transform-origin: right;
transform: translate(-25px,-6px) rotate(-45deg);
}
.my-navItem{
width: 100%;
visibility: hidden;
}
.my-container2.active .my-navItem{
visibility: visible;
padding: 3px;
}
li{
list-style: none;
}
li a{
text-transform: uppercase;
color: #fff;
}
li a i{
position: relative;
display: block;
font-size: 18px;
padding: 25px 0;
width: 100%;
text-align: center;
transform: scale(0);
}
.my-container2.active .navItem li a i{
transform: scale(1);
transition: 0.4s ease;
transition-delay: calc(0.08s*var(--i));
}
.my-container2.active .navItem li:hover a i{
transition: 0.2s ease;
color: #FF6347;
}
li a span{
position: absolute;
color: #262525;
margin:22px 0;
font-weight: 500;
letter-spacing: 2 px;
font-weight: bold
}
.my-container2.active .navItem li a span{
transform: translateX(15px);
transition: 0.4s ease;
transition-delay: calc(0.08s*var(--g));
-webkit-transform: translateX(15px);
-moz-transform: translateX(15px);
-ms-transform: translateX(15px);
-o-transform: translateX(15px);
}
.my-container2.active .navItem li:hover a span{
transform: translateX(30px);
transition: 0.2s ease;
color: #FF6347;
}
